body{
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 400%;
    animation: bganimation 15s infinite;
}
@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* #rightClick{
    background-color: #ff7400;
    list-style-type: none;
    position: absolute;
    padding:0px;
    border:1px solid #000;
    visibility: hidden;
} */
#myDiagramDiv {
    width: 1000px;
    height: 750px;
    background-color: #F8F8F8;
    border: 1px solid #aaa;
    z-index: 1;
}

body{
    /* 100%的窗口高度 */
    height: 100vh;
    /* 弹性布局 水平+垂直居中 */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* 渐变背景 */
    /*background: linear-gradient(200deg,#f3e7e9,#e3eeff);*/
}

.container{
    background-color: #fff;
    width: 400px;
    height: 335px;
    /* 阴影 */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    /* 相对定位 */
    position: absolute;
    bottom: 100px;
    right: 30px;
}
.container{
    padding: 50px;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.container::after{
    content: '';
    position: absolute;
    top: 5px;
    left:5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%, transparent 50%,transparent 85%,rgba(255,255,255,0.3) 100%);
}
.from-box{
    /* 绝对定位 */
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: #d3b7d8;
    width: 250px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
     /* 弹性布局 水平+垂直居中 */
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 2;
     /* 动画过渡 加速之后 减速 */
     transition: 0.5s ease-in-out;
}

.attribute-box,.relationship-box{
    /* 弹性布局 垂直排列 */
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hidden{
    display: none;
    transition: 0.5s;
}

h2{
    text-align: center;
    margin-bottom: 1px;
    /* 大写字母 */
    text-transform: uppercase;
    color: #fff;
    /* 字间距 */
    letter-spacing: 3px;
}
.from-box button{
    width: 23%;
    margin-top: 1px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 1px;
    padding: 1px;
    color: #a262ad;
    letter-spacing: 0.1px;
    border: none;
    cursor: pointer;
}

.from-box button:hover{
    background-color: #a262ad;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}

.con-box{
    width: 50%;
    /* 弹性布局 垂直排列 居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 绝对定位 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.con-box.left{
    left: -2%;
}

.con-box.right{
    right: -2%;
}

.con-box h2{
    color: #8e9aaf;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
}

.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}
.con-box span{
    color: #d3b7d8;
}

.con-box img{
    width: 150px;
    height: 150px;
    opacity: 0.9;
    margin: 40px 0;
}

.con-box button{
    margin-top: 3%;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 6px 10px;
    letter-spacing: 1px;
    outline: none;
    /* 鼠标放上变小手 */
    cursor: pointer;
}
.con-box button:hover{
    background-color: #a262ad;
    color: #f6f6f6;
}
.attri-box{
    justify-content: center;
    align-items: center;
    position: relative;
}
.add{
    justify-content: center;
    align-items: center;
    position: relative;
}
.add button{
    width: 100%;
    margin-top: 1px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 1px;
    padding: 1px;
    color: #a262ad;
    letter-spacing: 0.1px;
    border: none;
    cursor: pointer;
}

.add button:hover{
    background-color: #a262ad;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}